@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2px;
  letter-spacing: 0.03em;
}

.logo-nav {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
  margin-right: 85px;
}

.logo-text {
  color: #000000;
}

@media screen and (min-width: 480px) {
  .logo-nav {
    padding: 16px 0;
    margin: 0;
  }
  .main-nav {
    height: 60px;
  }
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
  margin-top: 0;
}

.site-nav .items:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}

.site-nav .link:hover,
.site-nav .site-nav .link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: #2196f3;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border {
  position: relative;
  cursor: pointer;
}

.border::after {
  position: absolute;
  content: "";
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  width: 47px;
  bottom: 0;
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}

.border-two {
  position: relative;
  cursor: pointer;
}

.border-two::after {
  position: absolute;
  content: "";
  display: block;
  width: 77px;
  bottom: 0;
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}

ul .site-nav,
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .site-nav {
    display: none;
  }
}

.contact .link,
.social .link {
  color: #757575;
}

.contact {
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contact .link + .link {
  margin-left: 30px;
}

.contact .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact .link:hover, .contact .link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail,
.contact-phone {
  margin-right: 10px;
  fill: currentcolor;
}

.contact-mail:hover,
.contact-phone:hover {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .contact {
    display: none;
  }
}

.hero {
  text-align: center;
}

.hero-title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .hero {
    padding: 118px 0;
    width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../image/hero480.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../image/hero480.jpg);
    background-size: 480px 400px;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../image/hero480@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../image/hero480@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.62;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.85);
            transform: translate(-50%, -50%) scale(0.85);
  }
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  border-style: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button.two {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  padding: 10px 45px;
  margin-left: 12px;
  border-style: none;
}

.button.two::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../image/iconsend.svg);
}

@media screen and (min-width: 480px) {
  .section {
    padding: 60px 0;
  }
  .section-fon {
    padding: 60px 0;
  }
  .section-title, .section-subtitle, .section-people {
    color: #212121;
  }
  .section-title.two {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .section-text.last {
    margin: 0;
  }
  .section-subtitle,
  .section-lead .end {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.promo {
  margin: 0;
}

.center-fon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .center-fon {
    max-width: 450px;
    height: 120px;
  }
  .section-subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .section-text {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .section-text.last {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .section-title.work,
  .section.work,
  .work {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .team {
    margin: 0;
  }
  .member {
    width: 450px;
    height: 482px;
    margin-bottom: 30px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .member-text {
    text-align: center;
  }
  .member:last-child {
    margin-bottom: 0;
  }
  .section-people {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
  .section-fon p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  .section-fon {
    background-color: #f5f4fa;
  }
  .img {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .member-text {
    text-align: center;
    margin-bottom: 16px;
  }
  .soсial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .social-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
  }
  .social-icon {
    width: 20px;
    height: 20px;
  }
  .social-link:hover,
  .social-link:focus {
    background-color: #2196f3;
    fill: #ffffff;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.section-title.three {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .section-title.three {
    margin-bottom: 30px;
  }
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .logos {
    margin: -15px;
  }
}

.pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
}

@media screen and (max-width: 767px) {
  .pic {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.pic:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 21px;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-modal {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  -webkit-transform: translate(-30%, 30%);
          transform: translate(-30%, 30%);
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-style: none;
  cursor: pointer;
}

.icon-close {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.form {
  padding: 40px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
}

.form-label.comment {
  top: 15%;
  left: -5%;
}

.form-field:focus-within > .form-label {
  -webkit-transform: translate(-30px, -40px);
          transform: translate(-30px, -40px);
  color: #2196f3;
}

.form-field:focus-within > .form-label.comment {
  -webkit-transform: translate(-8px, -40px);
          transform: translate(-8px, -40px);
  color: #2196f3;
}

.form-icon {
  position: absolute;
  margin-left: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-field:focus-within > .form-icon {
  fill: #2196f3;
}

.form-input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field:focus > .form-input {
  border: 1px solid #2196f3;
}

.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-30px, -40px);
          transform: translate(-30px, -40px);
}

.form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding-top: 12px;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.check-text {
  color: #2196f3;
}

.icon-check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.form-checkbox:checked:focus + .icon-check {
  background-color: #2196f3;
  border-color: #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2px;
  background-image: url(../image/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form-button {
  text-align: center;
}

.menu {
  padding-top: 93px;
  padding-bottom: 50px;
}

.portfolio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-btn .menu-btn:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  border-radius: 4px;
  border: solid transparent;
  padding: 6px 22px;
  color: #212121;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-portfolio:hover, .button-portfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-page {
  padding-bottom: 94px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img-link {
  display: block;
  text-decoration: none;
}

.add {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
}

.add:hover .img-overlay,
.add:focus .img-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.add:hover .title-texts,
.add:focus .title-texts {
  opacity: 1;
}

.add:hover, .add:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.add:nth-child(3n) {
  margin-right: 0;
}

.add:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.add-text {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.add .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.img-portfolio {
  position: relative;
  overflow: hidden;
}

.img-overlay {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-text {
  margin: 0;
  color: #757575;
}

.title-texts {
  display: block;
  position: absolute;
  margin: 0;
  width: 370px;
  padding-left: 24px;
  padding-right: 24px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
}

.footer-link {
  display: inline-block;
  margin-left: 65px;
}

@media screen and (min-width: 480px) {
  .footer-link {
    margin-left: 0;
    margin-bottom: 60px;
  }
}

.footer-end, .footer-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-footer {
  text-align: center;
  height: 603px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}

.logo-text-footer {
  color: #ffffff;
}

.logo-nav.two {
  margin-right: 0;
}

@media screen and (min-width: 480px) {
  .logo-nav.two {
    margin-bottom: 20px;
  }
}

.address-primary {
  font-style: normal;
  margin-bottom: 9px;
}

@media screen and (min-width: 480px) {
  .address-primary {
    margin-bottom: 8px;
  }
}

.address-secondary {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .address-secondary {
    margin-bottom: 60px;
  }
}

.address-secondary .mail {
  margin-top: 0;
  margin-bottom: 9px;
}

@media screen and (min-width: 480px) {
  .address-secondary .mail {
    margin-bottom: 8px;
  }
}

.address-secondary .tel {
  margin: 0;
}

.inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.inline-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.inline li:not(:last-child) {
  margin-right: 10px;
}

.inline-link:hover, .inline-link:focus {
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inline-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (min-width: 480px) {
  .form-footer {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    margin-left: 92px;
  }
}

.form-footer input {
  max-width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  padding: 18px 12px;
}

@media screen and (min-width: 480px) {
  .form-footer input {
    width: 450px;
    padding: 15px 16px;
    margin-bottom: 20px;
  }
}

.form-email input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-email input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-email input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-email input::placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button.two {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */