.section-title.three {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.logos {
  @include centered-flex();
  flex-wrap: wrap;
  @media screen and (max-width: 1199px) {
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    @include centered-flex(inline-flex);
  }
}
@media screen and (min-width: $desktop) {
  .logos .pic + .pic {
    margin-left: 30px;
  }
}
.pic {
  @include centered-flex;
  height: 90px;
  border-radius: 4px;
  border: 1px solid $color-client-icon;
  fill: $color-client-icon;

  @media screen and (max-width: 767px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    width: 170px;
    margin: 0;
  }
  &:hover {
    fill: $accent-text-color;
    border: 1px solid $accent-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// .logos {
//   display: inline-flex;
// }

// .pic {
//   @include centered-flex;
//   width: 170px;
//   height: 90px;
//   border-radius: 4px;
//   border: 1px solid $color-client-icon;
//   fill: $color-client-icon;

//   &:hover {
//     fill: $accent-text-color;
//     border: 1px solid $accent-text-color;
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   .logos & + & {
//     margin-left: 30px;
//   }
// }
