.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 480px) {
    width: 480px;
  }
}
.logo {
  color: $accent-text-color;
  font-family: $secondary-font-family;
  font-size: 26px;
  line-height: 1.2px;
  letter-spacing: 0.03em;

  &-nav {
    display: inline-block;

    padding-top: 16px;
    padding-bottom: 16px;
  }

  &-text {
    color: $color-logo;
  }
}

.logo-text-footer {
  color: $accent-white;
}

.main-nav {
  height: 80px;
}
.site-nav,
.contact {
  display: none;
}
.hero {
  text-align: center;
  justify-content: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../image/hero.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $accent-white;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.85);
}
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: $accent-text-color;
  color: $accent-white;
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.section {
  padding-top: 60px;

  &-fon {
    padding: 60px 0;
  }
  &-title,
  &-subtitle,
  &-people {
    color: $title-text-color;
  }
  &-title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &-title.two {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &-text {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  &-text.last {
    margin: 0;
  }

  &-subtitle,
  &-lead .end {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &-subtitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &-title.work {
    display: none;
  }
}
.work {
  display: none;
}

.center-fon {
  //   width: 270px;
  height: 120px;
  margin: 0;
  margin-bottom: 30px;
  padding: 25px 190px;

  background-color: $bg-color;
  border-radius: 4px;
}

.section-fon {
  background-color: $bg-color;
}

// team

.member {
  //   width: 270px;
  height: 482px;
  background-color: $accent-white;
  margin-bottom: 30px;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  &-text {
    text-align: center;
  }
  &.last {
    margin: 0;
  }
}

.section-people {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.img {
  margin-top: 0px;
  margin-bottom: 30px;
}
.soсial {
  @include centered-flex();
  padding: 0;
}

.social-link {
  @include centered-flex(inline-flex);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $color-text;
}

.social-icon {
  width: 20px;
  height: 20px;
}
.social-link:hover,
.social-link:focus {
  background-color: $accent-text-color;
  fill: $accent-white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Clients
.section-title.three {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .logos {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  .pic {
    @include centered-flex;
    width: 210px;
    height: 90px;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid $color-client-icon;
    fill: $color-client-icon;

    &:nth-child(2n) {
      margin-left: 28px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    &:hover {
      fill: $accent-text-color;
      border: 1px solid $accent-text-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  // Footer

  .footer {
    background-color: #2f303a;
    color: $accent-white;

    &-link {
      display: inline-block;
    }

    &-end,
    &-text {
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 900;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }

  .page-footer {
    text-align: center;
    height: 603px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
  }
  .logo-nav.two {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .logo-text-footer {
    color: $accent-white;
  }

  .address-primary {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 8px;
  }
  .address-secondary {
    color: $color-footer-address;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 60px;
  }

  .inline {
    display: inline-flex;
    margin-bottom: 60px;

    &-link {
      @include centered-flex;
      width: 44px;
      height: 44px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
    }
    & li:not(:last-child) {
      margin-right: 10px;
    }
    &-link:hover,
    &-link:focus {
      background-color: $accent-text-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-icon {
      width: 20px;
      height: 20px;
      fill: $accent-white;
    }
  }
  .form-footer input {
    min-width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $footer-bg;
    margin-bottom: 20px;

    padding: 0;
  }
  .form-email input::placeholder {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    padding-left: 16px;

    color: $color-footer-address;
  }
}
