.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-page {
  padding-bottom: 94px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.img-link {
  display: block;
  text-decoration: none;
}

.add {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);

  border: 1px solid #eeeeee;

  &:hover .img-overlay,
  &:focus .img-overlay {
    opacity: 1;
    transform: translateY(0);
  }
  &:hover .title-texts,
  &:focus .title-texts {
    opacity: 1;
  }
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  &-text {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
  }
  & .title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
}

.img-portfolio {
  position: relative;
  overflow: hidden;
}

.img-overlay {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-text {
  margin: 0;
  color: $color-text;
}
.title-texts {
  display: block;
  position: absolute;

  margin: 0;
  width: 370px;
  padding-left: 24px;
  padding-right: 24px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $accent-white;
}
