.section {
  &-title,
  &-subtitle,
  &-people {
    color: $title-text-color;
  }
  &-subtitle,
  &-lead .end {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0;
    &-fon {
      padding: 60px 0;
    }
    &-title.two {
      margin-top: 0;
      margin-bottom: 30px;
      text-align: center;
    }
    &-text.last {
      margin: 0;
    }
  }
}
@media screen and (min-width: $desktop) {
  .section {
    padding: 94px 0;

    &-fon {
      padding: 94px 0;
    }
    &-work {
      padding-bottom: 94px;
    }

    &-title {
      margin: 0;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
    }

    &-text,
    &-lead {
      margin: 0;
    }

    &-subtitle {
      margin-top: 0;
      margin-bottom: 10px;
    }
    &-title.two {
      margin-top: 0;
      margin-bottom: 50px;
    }
    &-title.works {
      margin-bottom: 50px;
    }
  }
}
